<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>109354199163-mtjcim88q7a68agsk5n1jtlfulr87pfp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.109354199163-mtjcim88q7a68agsk5n1jtlfulr87pfp</string>
	<key>API_KEY</key>
	<string>AIzaSyByA2zvOJ5ezTrqiCeS5VBMbPqhFEokyrk</string>
	<key>GCM_SENDER_ID</key>
	<string>109354199163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dynamicLink</string>
	<key>PROJECT_ID</key>
	<string>flutterdynamic-d3105</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterdynamic-d3105.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109354199163:ios:1d6a0ce95f21adc73d5ade</string>
</dict>
</plist>